<!DOCTYPE html>
<head>
<meta charset="utf-8"/>
<title>Ticker {{t}}</title>
%include head
<script src='http://ec2-54-198-139-239.compute-1.amazonaws.com/socket.io/socket.io.js'></script>
<script>
	var socketio = io.connect();
	
</script>
</head>
<body><div id="main">
 
<h1>Ticker {{t}}</h1>

	<div id='output'>
	</div>
 
	<a href='http://localhost:8080/'>Return Home</a>
</div></body>
</html>
